

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Covid-19 Testing Management System | Add Phlebotomist</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
<style type="text/css">
label{
    font-size:16px;
    font-weight:bold;
    color:#000;
}

</style>


</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-virus"></i>
                </div>
                <div class="sidebar-brand-text mx-3">COVID19-TMS</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">
          
         
            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="live-test-updates">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                COVID19 Testing
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Testing</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="testing-form">New User</a>
                        <!-- <a class="collapse-item" href="registered-user-testing">Already Registered User</a> -->
                    </div>
                </div>
            </li>
 <li class="nav-item">
                <a class="nav-link" href="patient-search-report">
                    <i class="fas fa-fw fa-file"></i>
                    <span>Test Report</span></a>
            </li>
         
<li class="nav-item active">
                <a class="nav-link" href="log">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Admin</span></a>
            </li>

          

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
            
                </nav>                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Test Details# <%= records.OrderNumber %></h1>
<div class="row">
<!-- personal information --->
                        <div class="col-lg-6">

                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Personal Information</h6>
                                </div>
                                <div class="card-body">
   
 <table class="table table-bordered"  width="100%" cellspacing="0">
    <tr>
        <th>Full Name</th>
        <td>
            <%= records.FullName %>
        </td>
    </tr>

    <tr>
        <th>Mobile Number</th>
        <td>
            <%= records.MobileNumber %>
        </td>
    </tr>

    <tr>
        <th>DOB (Date of Birth)</th>
        <td>
            <%= records.DateOfBirth.toDateString() %>
        </td>
    </tr>


    <tr>
        <th>Govt Issued Id</th>
        <td>
            <%= records.GovtIssuedId %>
        </td>
    </tr>


    <tr>
        <th>Govt Issued Id No</th>
        <td>
            <%= records.GovtIssuedIdNo %>
        </td>
    </tr>


    <tr>
        <th>Full Address</th>
        <td>
            <%= records.FullAddress %>
        </td>
    </tr>

    <tr>
        <th>State</th>
        <td>
            <%= records.State %>
        </td>
    </tr>

    <tr>
        <th>Profile Reg Date</th>
        <td>
            <%= records.RegistrationDate.toDateString() %>
        </td>
    </tr>
 </table>

        
                                    
                                </div>
                            </div>
                        </div>

<!-- Test Information --->
                         <div class="col-lg-6">

                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Test Information</h6>
                                </div>
                                <div class="card-body">

 <table class="table table-bordered"  width="100%" cellspacing="0">
    <tr>
        <th>Order Number</th>
        <td>
            <%= records.OrderNumber %>
        </td>
    </tr>

    <tr>
        <th>Test Type</th>
        <td>
            <%= records.TestType %>
        </td>
    </tr>


    <tr>
        <th>Time Slot</th>
        <td>
            <%= records.TestTimeSlot %>
        </td>
    </tr>

    <tr>
        <th>Report Status</th>
        <% if (!records.ReportStatus){ %>
            <td>Not yet Processed yet</td>
            <% } else{ %>
                <td>
                    <%= records.ReportStatus %>
                </td>
                <% } %>
    </tr>


    <tr>
        <% if (records.AssigntoName){ %>
            <th>Assign To</th>
            <td>
                <%= records.AssigntoName %> - <% records.AssignedtoEmpId %>
            </td>
    <tr>
        <th>Assigned Date</th>
        <td>
            <%= records.AssignedTime %>
        </td>
    </tr>

    <% } %>

        </tr>
        <tr>

            <% if (records.FinalReport){ %>
                <th>Report</th>

                <td><a href="reportfiles/<%= records.FinalReport %>"
                        target="_blank">Download</a></td>

        <tr>
            <th>Report Delivered Time</th>
            <td>
                <%= records.ReportUploadTime %>
            </td>
        </tr>

        <% } %>
            </tr>

</table>
                        

                    </div>
                            </div>

                        </div>
                    </div>
                

<!-- Test Tracking History --->

<div class="row">
                         <div class="col-lg-12">

                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary" align="center">Test  Tracking History</h6>
                                </div>
                                <div class="card-body">
                                    <% if  (testtracking[0].id) { %>

                                        <table class="table table-bordered" width="100%" cellspacing="0">
        
                                            <tr>
                                                <th>Remark</th>
                                                <th>Status</th>
                                                <th>Remark Date</th>
                                                <th>Remark By</th>
                                            </tr>
                                            <% testtracking.forEach(function(row){%>
        
                                                <tr>
                                                    <td>
                                                        <%= row.Remark %>
                                                    </td>
                                                    <td>
                                                        <%= row.Status %>
                                                    </td>
                                                    <td>
                                                        <%= row.PostingTime %>
                                                    </td>
                                                    <td>
                                                        <%= row.RemarkBy %>
                                                    </td>
                                                </tr>
        
                                                </tr>
                                                <% }) %>
        
        
                                        </table>
        
                                        <% } else { %>
                                            <h4 align="center" style="color:red"> No Tracking history found </h4>
        
        
                                            <% } %>
        
        
                    


                                </div>
                            </div>

                        </div>
                    </div>

</form>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; National Health Authority 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
<a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>




    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
<script type="text/javascript">

  //For report file
  $('#reportfile').hide();
  $(document).ready(function(){
  $('#status').change(function(){
  if($('#status').val()=='Delivered')
  {
  $('#reportfile').show();
  jQuery("#report").prop('required',true);  
  }
  else{
  $('#reportfile').hide();
  }
})}) 
</script>
</body>
</html>
